<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="NavARWebAppPU3" transaction-type="RESOURCE_LOCAL">
    <class>Database.ArMarkers</class>
    <class>Database.Companies</class>
    <class>Database.Employees</class>
    <class>Database.MarkersNeighbors</class>
    <class>Database.MeetingRooms</class>
    <class>Database.Meetings</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://145.24.222.124:8000/project78?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="henk"/>
      <property name="javax.persistence.jdbc.password" value="kneh"/>
    </properties>
  </persistence-unit>
</persistence>
